.horizonal-line-main{
    display: flex;
    align-items: center;
    height: 78px;
    width: 100%;
}
.horizonal-line{
    height: 1px;
    width: 73%;
    left: 13%;
    background-color: #e9dedee6;
}